# Exercise: Titanic Database
    
The JSON file `titanic.json` contains information about 1000+ passengers that were aboard the Titanic when it sunk in 1912. It's a document database: not all entries have the same fields, since there is a lot of missing data.

**1) Using pymongo, load the JSON file into a MongoDB database.**

**2) Find out exactly how many passengers (number of documents) there are in the database.**

**3) How old was passenger "Bourke, Mr. John"? (use the fields `name` and `age`)**

**4) The field `survived` tells us whether a passenger survived (value 1) or not (value 0). Find out how many survived and how many did not (note: many have missing data).**

**5) Who was the oldest survivor of the Titanic?**

**6) Find the survival rate (survivors/total) for each ticket class. (use the field `class`. There were three: 1, 2, 3)**

**7) Which five passengers paid the five highest ticket prices? (use the field `fare`)**